.App {
  text-align: center;
}

/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
*/

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body{
  background: #603813; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #603813 , #b29f94); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #603813 , #b29f94); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */       
}


/* div with img and text */
.divX{
	/*background-color:#f5f5f0;*/
    padding:33px;
	/*margin-top:50px;margin-left:30px;
	width:77%;*/
	box-shadow: inset 0 0 1em white, 0 0 8em black;
}

.font-12{
    font-size:12px;
}

.row1{
    margin-top:50px;
}

.red-color{
    color:red;
}

.react-logo-static{
	width:12%;
	animation: App-logo-spin infinite 20s linear;
    /*height: 40vmin;*/
}
  
.header-x{
     color:white; font-size:3em;
}
     
 /*  ----------------Mobile */
@media screen and (max-width: 460px) {  
    .divX{}
	.row1{margin-top:0px;}
	.select-my{margin-top:10px;}
	/*.divX h4{display:none}*/
	.react-logo-static{ width: 55%;}
    .header-x{font-size:2.2em;}
}
/*  ----------------Mobile */